@import url(reset.css); @import url(root.css);

body {
  background-color: var(--white);
  
}

section {
  height: 100%; width: 100%;
  padding-left: 5%;
}

h1 {
  font-size: var(--h1); font-family: var(--font-h1);
  
  padding-top: 15%;
  margin-bottom: 5px;
}

p {
  font-size: var(--p); font-family: var(--font-p);
  line-height: 25px; letter-spacing: 1.5px;
  color: var(--gray);
  width: 450px;
  
  margin-bottom: 20px;
}

nav, a {
  font-family: var(--font-h1); font-size: 23px;
  text-decoration: none;
  color: var(--black);
  
  margin-right: 2.5vw;
  padding-top: 30px;
}

/*
button {
  background-color: var(--blue);
  
  padding-left:50px; padding-right:50px; padding-top: 10px; padding-bottom: 10px;
  border-radius: 10px;
  
  font-family: var(--font-p); font-size: 30px;
  color: var(--white);
}
*/

nav > a > img {
  width: 25px; height: 25px;
  margin-right: 10px;
}


button {
  display: inline-block;
  padding:12px 24px;
  border: 1px solid var(--gray); 
  border-radius: 4px;
  transition: all 0.2s ease-in; 
  position: relative; 
  overflow: hidden; 
  font-family: var(--font-p);
  font-size: 19px;
  color: var(--black); 
  z-index: 1;
  cursor: pointer; 
}

button:before {
  content: "";
  position: absolute; 
  left: 50%;
  transform: translatX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block; 
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

button:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scale(0.8);
}
